.button {
  font-family: 'Kanit', sans-serif;
  background-color: gray;
  color: darkred;
}

body {
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/2023-3d-cubes-on-hexagonal-grid-tessellated-pattern-no-div-pure-css.png");
}

.content {
  font-family: 'Kanit', sans-serif;
  color: darkred;
  background-color: turquoise;
  height: 400px; 
  padding: 50px;
  width: 500px;
  margin: auto;
}

#top {
  height: 150px;
}

.spacer {
  height: 10px;
}


